#container {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  //border: solid 1px black;
  flex-direction: column;
  width: 100%;
  height: 200px;
  margin: 0 auto;

  &__imagebox {
    box-sizing: border-box;
    border: solid 1.5px black;
    height: 320px;
    margin-bottom: 60px;
  }

  &__slogan {
    width: 400px;
    height: 100px;
    background-color: $color-w;
    border: solid 1px #000000;
    font-family: $font-p;
    position: absolute;
    margin: 14px;
    transform: translateY(140px);
    text-align: center;
    padding: 30px; /*cambiar con texto definitivo*/
    font-weight: bold;
    font-size: 18px;
  }
  @media all and (min-width: 768px) {
    transform: translateY(50px);
    //background: transparentize($color: #5a4545, $amount: 0);
  }
}
