body {
  max-width: 100vw;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.hero-container {
  width: 70%;

  .hero-container__image {
    width: 70%;
  }
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 35px;
  padding-bottom: 10px;

  .container-contact__title {
    text-transform: uppercase;
    color: $color-bg;
  }
}

.form-container {
  font-family: $font-p;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: right;

  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;

  .mandatory {
    display: block;
    margin-bottom: 50px;
    align-self: center;
    font-size: 13px;
  }
  .label {
    padding-top: 5px;
    padding-bottom: 10px;
    .email-box {
      font-weight: bold;
    }
    :active,
    :hover {
      outline-color: $color-ag;
    }
  }
  .submit {
    margin-top: 25px;
    background-color: $color-bg;
    color: $color-w;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    &:hover {
      background-color: $color-ag;
      cursor: pointer;
    }
  }
  .input-box {
    width: 100%;
    height: 45px;
    display: block;
    border: solid 1px #b8b8b9;
  }
  .mandatory_star {
    color: $color-ag;
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .form-container {
    display: flex;
    justify-content: center;
    align-content: center;

    .input-box.submit {
      width: 150px;
      align-self: flex-end;
    }
  }
}

//.form-container {
//  display: grid;
//  grid-template-columns: 1fr 1fr;
//  grid-template-rows: 1fr 1fr 1fr;
//  gap: 40px;
//  width: 600px;
//  margin-left: auto;
//  margin-right: auto;
//
//  .mandatory {
//    grid-row: span 1;
//    grid-column: span 4;
//    text-align: center;
//  }
//  .label-name {
//    grid-row: 2/3;
//    grid-column: 1/4;
// }
// .label-mail {
//   grid-row: 3/4;
//   grid-column: 1/2;
// }
// .label-phone {
//   grid-row: 3/4;
//   grid-column: 2/3;
// }
//.label-message {
//   grid-row: 4/5;
//   grid-column: 1/3;
//}

//  .submit {
//    grid-row: 5/6;
//    grid-column: 2/3;
//  }
//}
