/* Estilos generales */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  max-width: 100vw; }

html {
  scroll-behavior: smooth; }

.main-container {
  padding-left: 12%;
  padding-right: 12%; }

.code {
  font-size: 16px;
  background: #d8d8d8;
  padding: 0 5px;
  border-radius: 5px; }

.link__adalab:hover {
  background-color: #099d8d;
  color: #fff; }

.link__github:hover {
  background-color: #CCC;
  color: #000; }

.header {
  position: fixed;
  width: 100vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center; }

.header .header-name {
  height: 60px;
  width: 100%;
  background-color: #099d8d;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif; }

.header .menu {
  height: 45px;
  background-color: #14d9c4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase; }

.menu .header-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Rubik", sans-serif; }

@media (min-width: 768px) {
  /* ------Header-------- */
  .header {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: #099d8d;
    height: 60px; }
  .header .header-name {
    padding-left: 45px;
    text-align: left;
    display: flex;
    justify-content: left; }
  .header .menu {
    background-color: #099d8d;
    height: 60px;
    display: flex;
    justify-content: space-around;
    padding: right 26px; }
  .menu .header-link {
    padding-right: 19px; } }

.container-imgslog {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100vw; }

.image-box {
  box-sizing: border-box;
  display: flex;
  height: 320px;
  border: solid 1.5px black;
  margin-bottom: 60px; }

.slogan {
  width: 250px;
  height: 40px;
  background-color: #ffffff;
  border: solid 1px #000000;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  margin: 14px;
  transform: translateY(140px);
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 18px; }

.teamtitle {
  box-sizing: border-box;
  margin-block: 20px;
  transform: translatey(-10px);
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  color: #14d9c4; }

.team {
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  margin-bottom: 20px;
  padding-block: 20px; }

.strenghts-container {
  width: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  background-color: #f1f1f1;
  line-height: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  position: relative; }

.strenghts-container .triangle {
  display: flex;
  justify-content: center;
  align-self: center;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid white; }

.strenghts-container .strenghts-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }

.strenghts-container .strenghts-font-style {
  font-family: "Rubik", sans-serif;
  color: #099d8d;
  line-height: 1.4rem;
  font-weight: bold;
  font-size: 22px;
  padding: 0.625rem; }

.strenghts-container .weaknesses-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

@media (min-width: 768px) {
  .strenghts-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem; }
  .triangle {
    position: absolute;
    top: 0; }
  .strenghts-wrapper {
    width: 45%;
    margin: 1.2rem; }
  .weaknesses-wrapper {
    width: 45%;
    margin: 1.2rem; } }

a {
  color: #14d9c4; }

.aboutus {
  text-align: center;
  padding-top: 30px; }

.title {
  font-family: "Rubik", sans-serif;
  color: #099d8d;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px; }

.name {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 2.25;
  letter-spacing: 1px;
  text-align: center;
  color: var(--black);
  font-weight: bold; }

.icons {
  padding-top: 15px; }

.bio {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a; }

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  position: relative; }

.footer {
  border-top: solid 1px;
  border-color: #54585a;
  margin-top: 45px; }

.footer-container {
  margin-top: 30px;
  text-align: center; }

.footer-container .footer-copy {
  margin: 20px auto;
  color: #b8b8b9;
  font-family: "Open Sans", sans-serif; }

.footer-container .footer-list {
  text-transform: uppercase;
  margin-top: 20px auto;
  list-style: none; }

.footer-list .link {
  text-decoration: none;
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  line-height: 1.43;
  font-weight: bold; }

.footer-container .footer-img {
  min-width: 115.9px;
  min-height: 45px;
  margin-top: 30px; }

@media (min-width: 768px) {
  .footer {
    width: 100vw;
    margin-top: 0px; }
  .footer-container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row; }
  .footer-container .footer-copy {
    margin: 0px;
    display: flex;
    justify-content: flex-start; }
  .footer-container .footer-list {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 25px; }
  .footer-list .link {
    display: flex; }
  .footer-container .footer-img {
    display: flex;
    justify-content: flex-start;
    width: 115.9px;
    height: 45px; } }

/*# sourceMappingURL=main.css.map */
