a {
  color: #14d9c4;
}
.aboutus {
  text-align: center;
  padding-top: 30px;
}

.title {
  font-family: $font-t;
  color: $color-bg;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
}

.name {
  font-family: $font-p;
  font-size: 20px;
  line-height: 2.25;
  letter-spacing: 1px;
  text-align: center;
  color: $color-back;
  font-weight: bold;
}

.icons {
  padding-top: 15px;
}

.bio {
  // padding: 30px, 15px, 45px;
  font-family: $font-p;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  // margin: 25px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-family: $font-p;
  // padding: 5%;
  position: relative;
}
