.header {
  position: fixed;
  width: 100vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header-name {
  height: 60px;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-w);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-t);
}
.header .menu {
  height: 45px;
  background-color: var(--color-ag);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

.menu .header-link {
  text-decoration: none;
  color: var(--color-w);
  font-family: var(--font-t);
}

@media (min-width: 768px) {
  /* ------Header-------- */
  .header {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: var(--color-bg);
    height: 60px;
  }
  .header .header-name {
    padding-left: 45px;
    text-align: left;
    display: flex;
    justify-content: left;
  }
  .header .menu {
    background-color: var(--color-bg);
    height: 60px;
    display: flex;
    justify-content: space-around;
    padding: right 26px;
  }
  .menu .header-link {
    padding-right: 19px;
  }
}
