#container {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
  height: 100vh;
  background: url(/assets/images/fondo_mobile.jpg) no-repeat center;
  background-size: cover;
}

.slogan {
  width: 320px;
  height: 75px;
  background-color: #ffffff;
  font-family: $font-p;
  position: absolute;
  transform: translateY(305px);
  padding: 0.75rem;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4rem;
}

@media all and (min-width: 768px) {
  #container {
    margin-bottom: 35px;
    height: 100vh;
    background: url(/assets/images/fondo_tablet.jpg) no-repeat center;
    background-size: cover;
  }
  .slogan {
    transform: translate(-148px, 240px);
    background-color: $color-w;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@media all and (min-width: 1000px) {
  #container {
    height: 100vh;
    background: url(/assets/images/fondo_tablet.jpg) no-repeat center;
    background-size: cover;
  }
  .slogan {
    transform: translate(-400px, 240px);
  }
}
