.teamtitle {
  box-sizing: border-box;
  margin-block: 20px;
  transform: translatey(-10px);
  font-family: var(--font-t);
  text-transform: uppercase;
  color: var(--color-ag);
}

.team {
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  font-family: var(--font-p);
  padding: 15px;
  margin-bottom: 20px;
  padding-block: 20px;
}
