#adalabers {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team {
  &__title {
    box-sizing: border-box;
    margin-block: 20px;
    transform: translatey(-10px);
    font-family: $font-t;
    text-transform: uppercase;
    color: $color-ag;
    text-align: center;
  }

  &__text {
    box-sizing: border-box;
    border: solid 1px black;
    background-color: $color-w;
    text-align: center;
    font-family: $font-p;
    padding: 15px;
    margin-bottom: 20px;
    padding-block: 20px;

    @media all and (min-width: 768px) {
      width: 678px;
    }
  }
}
