<section>
    <div class="aboutus">
      <div class="title">QUIÉNES SOMOS</div>
      
      <article class="profile">
      <img src="" alt="foto lucia enriquez">
      <h3 class="name">Lucía Enríquez</h3>
      <p class="bio">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam rerum, possimus aliquid doloribus debitis voluptas? Eum labore totam, perferendis cumque obcaecati libero blanditiis placeat nobis dolor exercitationem quo. Odio, veritatis? </p>
       <div class="icons">
          <a href="URL DESTINO"><i class="fab fa-twitter"></i></a>
          <a href="URL DESTINO"><i class="fab fa-linkedin-in"></i></a>
          <a href="URL DESTINO"><i class="fab fa-github"></i></a>
          <a href="URL DESTINO"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
      </article>
      
      <article class="profile">
        <img src="" alt="foto Maria Zubeldia">
        <h3 class="name">María Zubeldia</h3>
        <p class="bio">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam rerum, possimus aliquid doloribus debitis voluptas? Eum labore totam, perferendis cumque obcaecati libero blanditiis placeat nobis dolor exercitationem quo. Odio, veritatis? </p>
          <div class="icons">
            <a href="URL DESTINO"><i class="fab fa-twitter"></i></a>
            <a href="URL DESTINO"><i class="fab fa-linkedin-in"></i></a>
            <a href="URL DESTINO"><i class="fab fa-github"></i></a>
            <a href="URL DESTINO"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        </article>
      
      <article class="profile">
        <img src="" alt="foto Lucía Cano">
        <h3 class="name">Lucía Cano</h3>
        <p class="bio">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam rerum, possimus aliquid doloribus debitis voluptas? Eum labore totam, perferendis cumque obcaecati libero blanditiis placeat nobis dolor exercitationem quo. Odio, veritatis? </p>
        <div class="icons">
          <a href="URL DESTINO"><i class="fab fa-twitter" -color: #14d9c4;></i></a>
          <a href="URL DESTINO"><i class="fab fa-linkedin-in"></i></a>
          <a href="URL DESTINO"><i class="fab fa-github"></i></a>
          <a href="URL DESTINO"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
      </article>
                  
        <article class=" profile">
          <img src="" alt="foto Miriam Villalta">
          <h3 class="name">Miriam Villalta</h3>
          <p class="bio">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam rerum, possimus aliquid doloribus debitis voluptas? Eum labore totam, perferendis cumque obcaecati libero blanditiis placeat nobis dolor exercitationem quo. Odio, veritatis? </p>
          <div class="icons">
            <a href="URL DESTINO"><i class="fab fa-twitter"></i></a>
            <a href="URL DESTINO"><i class="fab fa-linkedin-in"></i></a>
            <a href="URL DESTINO"><i class="fab fa-github"></i></a>
            <a href="URL DESTINO"><i class="fas fa-envelope"></i></a>
          </div>
          </article>
        </div>
      </article>

  </section>