<section id="adalabers">
    <div class="team__title">
      <h2>equipo</h2>
      </div>

        <div class="team__text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium ut quae sint minus alias neque id, omnis doloremque porro exercitationem, dolor adipisci eos, cumque illo sunt rerum? Accusantium, harum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum soluta mollitia, architecto esse voluptatum ex provident alias, ea porro cumque tempora maiores? Autem quibusdam mollitia dolorum similique, ex animi repudiandae.</p>
    </div>
</section>